body {
}
.header{
    width: 100%;
    height: 278px;
    background-image: url(../images/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.standing-wrap img{
    width: 100%;
}

.games{
    height: 100%;
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    font-size: 0;
}

.w-10-5{
    width: 10.5% !important;
    vertical-align: top;
}

.w-9-8{
    width: 9.8% !important;
    vertical-align: top;
}

.w-19{
    width: 19% !important;
    vertical-align: top;
}

.w-10-2{
    width: 10.2% !important;
    vertical-align: top;
}

.OneEigth{
    margin: 0 auto;
    width: 75%;
    height: 6%;
    margin-top: 33%;    
}

.OneEigth input:first-child{
    width: 69%;
    margin-right: 4%;
    height: 100%;
    border-radius: 6px;    
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(2){
    width: 27%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(3){
    width: 69%;
    margin-right: 4%;
    margin-top: 2%;
    height: 100%;
    border-radius: 6px;    
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(4){
    width: 27%;
    height: 100%;
    margin-top: 2%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input[type=number]::-webkit-inner-spin-button,
.OneEigth input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none; 
  margin: 0; 
}