body {
    background: linear-gradient(-90deg, #052e54, #004276,#004e8c, #025fa5);
}
.header{
    width: 93.5%;
    margin: 0 auto;
    height: 278px;
    background-image: url(../images/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    min-height: 400px;
}

.standing-wrap img{
    width: 100%;
}

.games{
    height: 100%;
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    font-size: 0;
}

.w-13-7{
    width: 13.7% !important;
    vertical-align: top;
}

.w-12-2{
    width: 12.2% !important;
    vertical-align: top;
}

.w-24-3{
    width: 24.3% !important;
    vertical-align: top;
}

.w-11-5{
    width: 11.5% !important;
    vertical-align: top;
}

.OneEigth,
.OneQuarter,
.Semifinal{
    margin: 0 auto;
    width: 70%;
    height: 3.3%;   
}

.OneEigth{
    margin-top: 33%;
    padding-left: 14%;
}

.OneQuarter{
    margin-top: 180%;    
}

.Semifinal{
    margin-top: 354%;
}

.Semifinal.custom{
    margin-top: 377%;
}

.Finall{
    margin: 0 auto;
    width: 72%;
    height: 6%;
    margin-top: 168%;
}

.ThirdPlace{
    margin: 0 auto;
    width: 40%;
    height: 4%;
    margin-top: 34%;
    margin-bottom: 0;
}

.OneEigth input:first-child,
.OneQuarter input:first-child,
.Semifinal input:first-child,
.ThirdPlace input:first-child{
    width: 69%;
    margin-right: 4%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 15px;
}

.Finall input:first-child{
    width: 69%;
    margin-right: 4%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(3),
.OneQuarter input:nth-child(3),
.Semifinal input:nth-child(3),
.ThirdPlace input:nth-child(3){
    width: 27%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 15px;
}

.Finall input:nth-child(3){
    width: 27%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(5),
.OneQuarter input:nth-child(5),
.Semifinal input:nth-child(5),
.ThirdPlace input:nth-child(5){
    width: 69%;
    margin-right: 4%;
    margin-top: 2%;
    height: 100%;
    border-radius: 6px;    
    vertical-align: top;
    font-size: 15px;
}

.Finall input:nth-child(5){
    width: 69%;
    margin-right: 4%;
    margin-top: 6%;
    height: 100%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input:nth-child(7),
.OneQuarter input:nth-child(7),
.Semifinal input:nth-child(7),
.ThirdPlace input:nth-child(7){
    width: 27%;
    height: 100%;
    margin-top: 2%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 15px;
}

.Finall input:nth-child(7) {
    width: 27%;
    height: 100%;
    margin-top: 6%;
    border-radius: 6px;
    vertical-align: top;
    font-size: 19px;
}

.OneEigth input[type=number]::-webkit-inner-spin-button,
.OneEigth input[type=number]::-webkit-outer-spin-button,
.OneQuarter input[type=number]::-webkit-inner-spin-button,
.OneQuarter input[type=number]::-webkit-outer-spin-button,
.Semifinal input[type=number]::-webkit-inner-spin-button,
.Semifinal input[type=number]::-webkit-outer-spin-button,
.Finall input[type=number]::-webkit-inner-spin-button,
.Finall input[type=number]::-webkit-outer-spin-button,
.ThirdPlace input[type=number]::-webkit-inner-spin-button,
.ThirdPlace input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none; 
  margin: 0; 
}

.d-inline-block.w-13-7.h-100 .OneEigth:first-child{
    margin-top: 180%;
}

.d-inline-block.w-13-7.h-100 .OneEigth:nth-child(2){
    margin-top: 69%;
}

.d-inline-block.w-13-7.h-100 .OneEigth:nth-child(3){
    margin-top: 74%;
}

.d-inline-block.w-13-7.h-100 .OneEigth:nth-child(4){
    margin-top: 68%;
}

.games .w-13-7:last-child .OneEigth{
    padding-left:0;
    padding-right: 10%

}

.d-inline-block.w-12-2.h-100 .OneQuarter:first-child{
    margin-top: 254%;
}

.games input.input-validation-error{
    border: 3px solid rgba(220, 53, 69, 0.7);
}

.games input[type=number]{
    text-align: center;
}

.btn-default:hover{
    background-color: gray;
    border-color: gray;
    color: white;
}